# =============== #
# Unity generated #
# =============== #
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
sysinfo.txt
*.stackdump
.gradle/
*.pidb.meta
*.pdb.meta
*.mdb.meta
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
 
# =============== #
# Rider generated #
# =============== #
/[Aa]ssets/Plugins/Editor/JetBrains*
.idea/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# ==== #
# FMOD #
# ==== #
/Assets/FMODStudioCache.asset
/Assets/FMODStudioCache.asset.meta
fmod.log
fmod_editor.log

# =========== #
# Crashlytics #
# =========== #
crashlytics-build.properties